<h1> TITANIC: MACHINE LEARNING FROM DISASTER </h1>

<h5> Through this project, I am trying to predict that who will die and who will survive on the Titanic using the Titanic Passenger data. <br> <br>
(The datasets have been taken from kaggle) </h5>

In [50]:
#loading the required libraries
import pandas as pd
import numpy as np

<h2>Reading Data into the Notebook </h2>

In [52]:
#read data into the notebook
gender_submission= client_ff8fcc082e31434f845ad8a90686979d.get_object(Bucket='machinelearning-donotdelete-pr-676zgsd9eqsndu',Key='gender_submission.csv')['Body']
df_gs=pd.read_csv(gender_submission)
df_gs.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [53]:
train_data= client_ff8fcc082e31434f845ad8a90686979d.get_object(Bucket='machinelearning-donotdelete-pr-676zgsd9eqsndu',Key='train.csv')['Body']
df_train=pd.read_csv(train_data)
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [54]:
test_data= client_ff8fcc082e31434f845ad8a90686979d.get_object(Bucket='machinelearning-donotdelete-pr-676zgsd9eqsndu',Key='test.csv')['Body']
df_test=pd.read_csv(test_data)
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

<h2>Preprocessing the Data</h2>

In [82]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [55]:
#dropping the column Cabin from both train and test set because most of the values are NaN
df_test1=df_test.drop(['Cabin'],axis=1)
df_train1=df_train.drop(['Cabin'],axis=1)

In [83]:
#converting the values in Sex column to boolean values
df_train1['Sex'].replace('female',1,inplace=True)
df_train1['Sex'].replace('male',0,inplace=True)
df_test1['Sex'].replace('female',1,inplace=True)
df_test1['Sex'].replace('male',0,inplace=True)

In [84]:
df_train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null int64
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(6), object(3)
memory usage: 76.6+ KB

In [91]:
#drop rows from the dataset containing NaN values
df_train1.dropna( axis=0, how='any', inplace=True)
df_test1.dropna( axis=0, how='any', inplace=True)

<h2>Creating the model</h2>

In [116]:
#create target object y
y= df_train1['Survived']
#create X
criteria= ['Sex','Parch','SibSp']
X= pd.get_dummies(df_train1[criteria])

In [119]:
from sklearn.ensemble import RandomForestClassifier
#specify model
model_titanic= RandomForestClassifier(random_state=1,max_depth=5,n_estimators=100)
#fit the model
model_titanic.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

<h2>Prediction</h2>

In [120]:
test_X= pd.get_dummies(df_test1[criteria])
#predict
prediction_model= model_titanic.predict(test_X)
prediction_model[0:10]

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0])

<h2> By: <br><br> Manasvi Logani</h2>